<ion-view view-title="Ajouter des compétences" cache-view="false">

  <ion-header-bar align-title="left" toggle-class data-color="colorUrl">
    <div class="buttons">
      <button class="button button-clear " ng-click="goBack()"><i class="icon ion-arrow-left-c" style="color: #fff;"></i></button>
    </div>
    <h1 class="title " style="text-align: center; color: white;">Ajouter des compétences</h1>
  </ion-header-bar>

  <ion-content class="padding">

    <div class="padding">
      <form>

        <div class="row">
          <h5>Choisir vos compétences</h5>
        </div>

        <div class="row" ng-repeat="skill in skills">
          <input type="checkbox" id="{{skill.id}}" checklist-model="user.roles" checklist-value="skill.id" ng-click="test()"/>
          <label class="chip" for="{{skill.id}}">{{skill.nom}}</label>
        </div>

      </form>
    </div>

    <center><a toggle-class data-color="colorUrl" class=" btn" ng-click="newSkills(user.roles)"> Ajouter </a></center>

  </ion-content>
</ion-view>
