<ion-view view-title="Projet en cours">

  <ion-header-bar align-title="left" toggle-class data-color="colorUrl">
    <h1 class="title " style="text-align: center; color: white;">Projet en cours</h1>
  </ion-header-bar>

  <ion-content>
    <ul class="collection" style="margin-top: 0px" ng-if="chargement">
      <li class="collection-item avatar" ng-repeat="(uv_name, current_activities) in projects" ng-click="projectInfo()">
        <i class="material-icons circle">assignment</i>
        <span class="title">{{uv_name}}</span>
        <p ng-repeat="activity in current_activities.activities">{{activity.name}} <br>
        </p>


        <div ng-repeat="activity in current_activities.activities">

          <div class="card-content2">
            <br>
            <p>Date de début : {{activity.date_start}}</p>
            <p>Date de fin : {{activity.date_end}}</p>
            <br>

          </div>
          <a href="#/project-detail/{{activity.id}}/{{activity.session}}/{{login}}/{{colorUrl}}" class="secondary-content"><i class="material-icons">send</i></a>
        </div>
      </li>
    </ul>


  </ion-content>


  <div class="bar bar-footer" style="background-image: none !important; padding: 0px; margin-bottom: 5px;">
    <ion-tabs class="tabs-icon-top" style="width: 100%">

      <ion-tab title="Projets en cours" href="#/current-activity/{{login}}/{{colorUrl}}" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline">
        <!-- Tab 1 content -->
      </ion-tab>

      <ion-tab title="Recherche" href="#/search/{{userId}}/{{colorUrl}}" icon-on="ion-ios-search" icon-off="ion-ios-search">
        <!-- Tab 3 content -->
      </ion-tab>

      <ion-tab title="Tinder"  href="#/tinderView/{{userId}}/{{userTinderId}}/{{colorUrl}}" icon-on="ion-ios-people" icon-off="ion-ios-people-outline">
        <!-- Tab 2 content -->
      </ion-tab>

      <ion-tab title="WishList" href="#/wishlist/{{userId}}/{{colorUrl}}"  icon-on="ion-ios-star" icon-off="ion-ios-star-outline">
        <!-- Tab 3 content -->
      </ion-tab>

      <ion-tab title="Mon Compte" href="#/account/{{userId}}/{{colorUrl}}"  icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
        <!-- Tab 3 content -->
      </ion-tab>

    </ion-tabs>
  </div>

</ion-view>
